.content-about {
    display: flex;
    flex-direction: row;
}

.text-about {
    text-align: justify;
    font-size: 17px;
}

.text-about p {
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
    line-height: 140%;
}

.photo-about {
    display: flex-start;
    justify-content: center;
}

.photo-about img {
    width: 300px;
    height: 300px;
}