.about .content {
    display: flex;
    flex-direction: row;
}

.about .information {
    align-items: start;
    justify-content: flex-start;
    text-align: justify;
    font-size: 17px;
    margin: 0 20px 0 0;
}

.about .photo {
    display: flex-start;
    justify-content: center;
}

.about .photo img {
    width: 315px;
    height: 450px;
}