.content-about {
    display: flex;
    flex-direction: row;
}

.text-about {
    align-items: start;
    justify-content: flex-start;
    text-align: justify;
    font-size: 17px;
    margin: 0 20px 0 0;
}

.photo-about {
    display: flex-start;
    justify-content: center;
}

.photo-about img {
    width: 315px;
    height: 450px;
}