.navbar {
    top: 0;
    width: 100%;
    z-index: 100; /* to be on top of everything */
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    background-color: var(--background-color);
    border-bottom: solid 1.5px var(--text-color-100);
}

.navbar h2 {
    margin-left: 35px;
    font-weight: semi-bold;
    color: var(--text-color-200);
}

.navbar ul {
    flex: 1; /* use the complete width available in the row */
    list-style: none;
    text-align: end;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: var(--text-color-100);
  }

.navbar ul li {
    display: inline-block;
    margin: 0 35px;
    font-size: 17px;
    font-weight: semi-bold;
    cursor: pointer;
    color: var(--text-color-100);
}

.navbar li a:hover{
    color: var(--text-color-200);
    font-weight: semi-bold;
}
