:root {
  --background-color: #01161E;
  --text-color-100: #EFF6E0;
  --text-color-200: #80d1aa;
  --margin-leftright-section: 350px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color-100);
}

html {
  scroll-behavior: smooth;
}

span {
  color: var(--text-color-200);
}

.about, .experience, .projects, .skills {
  box-sizing: border-box; /* padding and border will be included in the total width and height of the elements */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 22%;
}

.title-section {
  font-size: 25px;
  font-weight: semi-bold;
  width: 100%;
  padding-top: 40px; /* change this value to the height of your navigation bar */
  margin-top: 30px; /* change this value to the height of your navigation bar */
}
