:root {
  --background-color: #01161E;
  --primary-text-color: #EFF6E0;
  --secondary-text-color: #B6CF51;
  --text-color-300: #b2deca;
  --margin-topbottom-section: 100px;
  --margin-leftright-section: 350px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

html {
  scroll-behavior: smooth;
}

span {
  color: var(--secondary-text-color);
}

.about, .experience, .projects, .skills {
  margin: var(--margin-topbottom-section) var(--margin-leftright-section);
}

.title-section {
  font-size: 25px;
  font-weight: semi-bold;
  padding-top: 60px; /* Cambia '60px' a la altura de tu barra de navegación */
  margin-top: -60px; /*Cambia '-60px' a la altura negativa de tu barra de navegación */
}
